.content_container {
  position: relative;
  width: 100%;
}

.content {
  position: absolute;
  display: flex;
  justify-content: center;

  top: 5rem;
  left: 0;

  width: 100%;

  padding-inline: 15px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;

  .container {
    width: max-content;
    max-width: 700px;
    min-width: 300px;

    p {
      white-space: nowrap;
      font-size: clamp(12px, 4.4vw, 24px);
      line-height: 1.5;
    }

    h1 {
      font-size: clamp(28px, 5vw, 48px);
    }
  }
}

@media (max-width: 800px) {
  .content {
    .container {
      width: 100%;
      min-width: 0;

      p {
        white-space: normal;
        overflow-wrap: break-word;
      }
    }
  }
}
