.header_container {
  position: fixed;
  top: 2%;
  left: 0;

  width: 100%;
  height: auto;

  z-index: 100;
}

.header {
  position: relative;

  width: 600px;
  height: 60px;

  margin-inline: auto;

  background: rgba(33, 33, 33, 0.405);
  backdrop-filter: blur(10px);

  border-radius: 18px;
  border: solid 2px rgba(47, 47, 47, 0.348);

  box-sizing: border-box;

  z-index: 2;
  overflow: hidden;

  @media (max-width: 630px) {
    width: calc(100% - 30px);
  }

  .poems_controller {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;

    a {
      transition: 0.2s;

      &:not(.disabled):active {
        background-color: rgba(40, 40, 40, 0.521);
      }
    }

    .poem_active {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      height: 100%;
      padding-inline: 10px;

      box-sizing: border-box;

      user-select: none;
      cursor: pointer;

      transition: 0.2s;

      &:active,
      &.poem_active_open {
        background-color: rgba(40, 40, 40, 0.471);
      }

      p {
        margin: 0;
        font-size: 14px;
        color: gray;
      }
    }

    .controll {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 50px;
      height: 100%;
    }

    .disabled {
      opacity: 0.3;
      user-select: none;
      pointer-events: none;
    }
  }
}

.poem_modal {
  position: absolute;

  top: 68px;
  left: 50%;

  width: 600px;
  max-width: calc(100% - 30px);

  box-sizing: border-box;

  transform: translateX(-50%) translateY(-10px);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  z-index: 1;

  transition:
    opacity 0.25s ease,
    transform 0.3s ease,
    visibility 0s linear 0.3s;
}

.poem_modal_open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transform: translateX(-50%) translateY(0);

  transition:
    opacity 0.25s ease,
    transform 0.3s ease,
    visibility 0s linear 0s;
}

.poem_modal_content {
  padding: 20px;
  padding-top: 10px;

  background: #161616;

  border: solid 2px rgba(47, 47, 47, 0.348);
  border-radius: 18px;

  box-sizing: border-box;

  .poem_collection {
    margin-top: 20px;
    p {
      margin: 0;
      color: gray;
      font-size: 12px;
      text-transform: uppercase;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .poem_list {
      display: flex;
      flex-direction: row;
      gap: 10px;

      .tab {
        border: solid 1px rgb(62, 62, 62);
        border-radius: 10px;
        margin: 0;
      }

      .list {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .poem_item_active {
          color: darkred;
        }
      }
    }
  }
}
